.batch-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 10%;
    margin-top: 20px;
}
.batch-container .card {
    background: #f8f0f0;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.batch-container .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.batch-container .card-text {
    font-size: 0.9rem;
    color: #666;
}
.laptop {
    font-size: 3rem;
    color: #007bff;
    margin-bottom: 15px;
}
a{
    text-decoration: none;
    color: black;
}
button{
    background-color: #007bff;
    margin-top: 30px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 30px;
}
