.container {
    margin-left: 5vw;
    width: calc(100% - 5vw);
    padding: 0 0 0 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.student-info {
    display: flex;
    /* Use flexbox for layout */
    align-items: center;
    /* Center items vertically */
    margin-top: 20px;
    /* Space above the section */
}

.student-details {
    font-size: 16px;
    /* Adjust font size */
}

.student-details p {
    margin: 5px 0;
    /* Space between lines */
}

.student-details strong {
    font-weight: bold;
    /* Bold for labels */
}

.batch-details {
    margin-top: 20px;
}

.batch-details p {
    margin: 5px 0;
    font-size: 16px;
}

.marks-section {
    margin-top: 20px;
}

.marks-section p {
    font-size: 16px;
    margin: 5px 0;
}

.file-link {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}

.file-link:hover {
    background-color: #f0f0f0;
}

.status-pass {
    background-color: #d4edda;
    color: #155724;
    padding: 5px;
    border-radius: 5px;
}

.back-button {
    display: inline-flex;
    align-items: center;

    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.back-button i {
    margin-right: 5px;
}

.divider {
    margin: 20px 0;
    /* Adjust margin as needed */
    border: none;
    border-top: 1px solid #ccc;
    /* Line color */
}

.result-section {
    margin-top: 20px;
    /* Space above the result section */
}

.result-title {
    font-weight: bold;
    /* Bold title */
    font-size: 24px;
    /* Adjust font size */
}

.student-score {
    display: inline-block;
    /* Make it a block element */
    padding: 10px;
    /* Add padding */
    border: 1px solid #ccc;
    /* Border color */
    border-radius: 5px;
    /* Rounded corners */
    margin-top: 5px;
    /* Space above the score */
    font-size: 18px;
    /* Adjust font size */
}

.testing-info {
    display: flex;
    /* Use flexbox for layout */
    /* Space between items */
    align-items: center;
    /* Center items vertically */
    margin-top: 10px;
    /* Reduced space above the section */
}

.batch-info {
    display: inline-block;
    /* Make it a block element */
    padding: 5px 10px;
    /* Add padding */
    border: 1px solid #ccc;
    /* Border color */
    border-radius: 5px;
    /* Rounded corners */
    /* Reduced space to the right */
}

.date-time {
    display: flex;
    /* Use flexbox for layout */
    align-items: center;
    /* Center items vertically */
    color: #888;
    /* Gray color for text */
}

.date-time i {
    margin-right: 5px;
    /* Space between icon and text */
}

.date-time p {
    margin: 0;
    /* Remove default margin */
    margin-right: 10px;
    /* Space between date/time elements */
}